{% extends 'base.html' %}  {# 将当前页面继承到base页面 这样以子页面为中心  特别小心#}
{% block connect %}
<div class="container" style="padding: 0">
    <div class="row">
        <div class="col-sm-9 col-12" style="#6f42c1;padding:0;border: solid 1px #ffffff">

            <div class="col-12" style="padding:0;border-bottom: solid 1px #ffffff;border-radius:0">
                <!--正文标题start-->
                <div class="col-12 row article-detail">
                    <div class="col-9">
                        <!--正文标题close-->
                        <div class="col-12 title" style="border:0px">
                            {{article.headline}}
                        </div>
                    </div>
                    <div class="col-3 favourite" style="text-align: right">


                        {% if is_favourite == True %}

                        <label style="text-align: left" class="sub-addfavorite"
                               onclick="cancelFavorite('{{article.articleid}}')">
                            <span class="oi oi-heart" aria-hidden="true"></span>
                            取消收藏
                        </label>

                        {% else%}

                        <label style="text-align: left" class="addfavorite"
                               onclick="addFavorite('{{article.articleid}}')">
                            <span class="oi oi-heart" aria-hidden="true"></span>
                            文章收藏
                        </label>

                        {% endif%}

                    </div>
                </div>
                <div class="col-12 article-detail">
                    作者：{{article.nickname}} 类别：{{article_type[article.category | string ]}} 日期：{{article.createtime}}
                    阅读：{{article.readcount}} 次 消耗积分：{{article.credit}} 分
                </div>
                <div class="col-12 info"></div>
            </div>

            <!-- 正文部分-->
            <div class="passage" id="content">
                {{article.content | safe }}
            </div>

            <!--判断部分，根据积分要求 消耗积分就出现对话框-->
            {% if article.credit > 0 and payed == False %}
            <div class="col-12 readall">
                {% if session.get('islogin') == 'true' %}
                <button type="button" class="btn btn-outline-info btn-block" onclick="readAll()">
                    阅读全文消耗积分：{{article.credit}}
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal"
                        data-target="#staticBackdrop">
                    你还没有登录，点击登录后可阅读全文
                </button>
                {% endif %}
            </div>
            {% endif %}
            <!--正文结束-->


            <br>
            <div class="clo-12 article-new">
                <div>版权所有，转载本站文章请注明出处：</div>

                <div><a href="/article/{{perv_next.prev_id}}">上一篇：{{perv_next.prev_headline}}</a></div>
                <div><a href="/article/{{perv_next.next_id}}">下一篇：{{perv_next.next_headline}}</a></div>
            </div>

            <br>
            <!-- 文章评论-->
            <div class="container article-comment">
                <div class="row">
                    {% if session.get('islogin') == 'true' %}
                    <div class="col-2" style="text-align: right">
                        <label for="nickname" id="show_nickname">昵 称 ：</label>
                        <label for="nickname" style="display: none" id="show_sub_nickname">回 复 对 象 ：</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="nickname" class="form-control" value="{{session.get('nickname')}}"
                               readonly/>
                    </div>
                    {% else %}

                    <div class="col-2" style="text-align: right">
                        <label for="nickname">昵 称 ：</label>
                    </div>

                    <div class="col-10">
                        <input type="text" id="nickname" class="form-control" readonly value="你还没有登录请点击登录"
                               data-toggle="modal" data-target="#staticBackdrop"/>
                    </div>
                    {% endif %}

                </div>
                <br>
                <div class="row">
                    <div class="col-2" style="text-align: right">
                        <label for="control">评 论 内 容：</label>
                    </div>
                    <div class="col-10">
                        <textarea class="form-control" style="height: 100px" id="control"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 row">
                        <div class="col-9">提示：登录后添加有效评论可享受积分哦！</div>
                        <div class="clo-3">
                            {% if session.get('islogin') == 'true' %}

                            <button type="button" class="btn btn-success" onclick="addComment('{{article.articleid}}')" id="submitBtn">
                                评论发布
                            </button>
                            <button type="button" class="btn btn-success" onclick="replyCommnt('{{article.articleid}}')" style="display: none" id="reply">
                                回复评论
                            </button>

                            {% else %}
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#staticBackdrop">登录
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>




<!--这是评论大包围开始的地方-->
            <div id="commentDIV">
<!-- 循环遍历评论，这部分代码保持不变 -->
{% for comment in comment_list %}
            <div id="commentDiv">
                <div class="col-12 list row article-comment" >
                    <div class="col-2 icon">
                        <img src="/avatar/{{comment.avatar}}" class="img-fluid" style="width: 70px;">
                    </div>
                    <div class="col-10 comment">
                        <div class="col-12 row" style="padding: 0px">
                            <div class="col-7 commenter">{{comment.nickname}}&nbsp;&nbsp;&nbsp;{{comment.createtime}}</div>
                            <div class="col-5 reply">
                                <!-- 文章作者、管理员和评论者只能回复和隐藏，不能点赞-->
                                {% if article.userid == session.get('userid')   or
                                    session.get('role') == 'admin' or
                                    comment.userid == session.get('userid') %}
                                <!--注意 这个无法通过外部条件获取。回复的评论 ，只能通过函数传递参数-->
                                <label onclick="gotoReply('{{comment.commentid}}')">
                                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="hideComment(this,'{{comment.commentid}}')">
                                    <span class="oi oi-x" aria-hidden="true"></span> 隐藏 <span></span>
                                </label>&nbsp;&nbsp;&nbsp;
                                {% else %}
                                 <label onclick="gotoReply('{{comment.commentid}}')">
                                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="agreeComment(this,'{{comment.commentid}}')">
                                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span>赞成(<span>{{comment['agreecount']}}</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="opposeComment(this,'{{comment.commentid}}')">
                                    <span class="oi oi-x" aria-hidden="true"></span> 反对 (<span>{{comment['opposecount']}}</span>)
                                </label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 content">
                            {{comment.content}}
                        </div>
                    </div>
                </div>
            </div>


<!--如果此评论没有回复，则下面的评论就是空的不会显示-->
                {% if comment['reply_list']%}
                {% for reply in comment['reply_list']%}
                <div class="col-12 list row article-comment" >
                    <div class="col-2 icon">
                        <img src="/avatar/{{reply.avatar}}" class="img-fluid" style="width: 60px;margin-left:50%;margin-top:10%">
                    </div>
                    <div class="col-10 comment"style="border: solid 1px #ccc;">
                        <div class="col-12 row" style="padding-left: 15px">
                            <div class="col-7 commenter" style="color: #337ab7">{{reply.nickname}}&nbsp;&nbsp回复:{{comment.nickname}};&nbsp;{{reply.createtime}}</div>
                            <div class="col-5 reply">
                                <!-- 文章作者、管理员和评论者只能回复和隐藏，不能点赞-->
                                {% if article.userid == session.get('userid')   or
                                    session.get('role') == 'admin' or
                                    comment.userid == session.get('userid') %}
                                <!--注意 回复的回复是无法回复的，此功能没有完全实现-->
<!--                                <label onclick="gotoReply('{{reply.commentid}}')">-->
<!--                                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复-->
<!--                                </label>&nbsp;&nbsp;&nbsp;-->
                                <label onclick="hideComment(this,'{{reply.commentid}}')">
                                    <span class="oi oi-x" aria-hidden="true"></span> 隐藏 <span></span>
                                </label>&nbsp;&nbsp;&nbsp;
                                {% else %}
                                <!--注意 回复的回复是无法回复的，此功能没有完全实现-->
<!--                                 <label onclick="gotoReply('5')">-->
<!--                                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复-->
<!--                                </label>&nbsp;&nbsp;&nbsp;-->
                                <label onclick="agreeComment(this,'{{reply.commentid}}')">
                                    <span class="oi oi-chevron-bottom" aria-hidden="true" ></span> 赞成 (<span>{{reply['agreecount']}}</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="opposeComment(this,'{{reply.commentid}}')">
                                    <span class="oi oi-x" aria-hidden="true"></span> 反对 (<span>{{reply['opposecount']}}</span>)
                                </label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            {{reply.content}}
                        </div>
                    </div>
                </div>
                {% endfor%}
                {% endif%}
<!--这是每一个回复的评论控制区结束-->
                <br>
            {% endfor %}
            <!-- 循环遍历评论，这部分代码保持不变 -->

            </div>
<!--                这是回复评论大包围结束的地方 id = commentDIV-->



<!--            开始前端页面分页   原始评论大于10条才开始分页-->
            {% if total > 1%}
            <div style="padding-left: 50%">
                <label onclick="gotopage('{{article.articleid}}','prev')">上一页</label>&nbsp;
                {% for i in range(total)%}
                <label onclick="gotopage('{{article.articleid}}','{{i+1}}')">{{i+1}}</label>&nbsp;
                {% endfor %}
                <label onclick="gotopage('{{article.articleid}}','next')">上一页</label>
            </div>
            {% endif %}
            <br>

<!--            结束前端页面分页   原始评论大于10条才开始分页-->



        </div>


        {# 按需要导入右边栏#}
        {% include 'list.html'%}


<script>
    // 剩余页面加载
    function readAll() {
        var param = 'articleid={{article.articleid}}&position={{position}}';  //数据由前端页面提供，直接使用
        $.post('/readall', param, function (date) {
            $('#content').append(date);  //将数据加载到content后面
            $('.readall').hide()   //根据class 定位元素并隐藏
        })
    }

    // 收藏按钮
    function addFavorite(articleid) {
        $.post('/favorite', 'articleid=' + articleid, function (data) {
            if (data == 'no-login') {
                window.alert('未登录用户')
            } else if (data == 'favorite-pass') {
                // 菜单名称改为：收藏成功
                $('.addfavorite').html('<span class="oi oi-heart" aria-hidden="true" ></span>收藏成功')
                // 锁定菜单让用户无法再次收藏
                $('.addfavorite').attr('onclick', '').unbind('click')
            } else {
                window.alert('收藏失败，系统异常')
            }
        })
    }

    //jQuery 没有封装Delete请求，原生ajax请求处理dalete请求，没有数据部分只有处理部分
    function cancelFavorite(articleid) {
        //原生的请求
        $.ajax({
            url: '/favorite/' + articleid,
            type: 'delete',
            success: function (data) {
                if (data == 'cancel-pass') {
                    window.alert('取消成功')
                    // 菜单名称改为：收藏文章
                    $('.sub-addfavorite').html('<span class="oi oi-heart" aria-hidden="true" ></span>收藏文章')
                    // 锁定菜单让用户无法再次取消收藏
                    $('.sub-addfavorite').attr('onclick', '').unbind('click')
                } else if (data == 'cancel') {
                    window.alert('收藏系统异常')
                }
            }
        })
    }

    // 文章评论
    function addComment(articleid) {
        var content = $.trim($('#control').val());
        if (content.length < 5 || content.length > 1000) {
            window.alert('评论内容不符合要求')
            return false
        }
        var param = 'articleid=' + articleid + '&content=' + content;
        $.post('/comment', param, function (date) {
            if (date == 'content-invalid') {
                window.alert('内容不合法')
            } else if (date == 'add-pass') {
                location.reload()
            } else if (date == 'add-fail') {
                window.alert('评论失败')
            } else if (date == 'replay-pass') {
                window.alert('今天评论已经超过10条，无法继续获取积分，但不会限制你的评论，请继续吹')
                location.reload()
            } else if (date == 'replay-fail') {
                window.alert(' 评论失败系统异常请联系管理员')
            }
            else if (date=='你还没有登录')   //这是蓝图拦截器定义的接口，后端限制未登录用户无法回复。其实无法触发
                window.alert('你还没有登录，无法回复')
        })
    }

    //将回复按钮和回复文本框关联，怎么进行数据传递2种方法
    //1.全局变量
    //2.使用临时DIV进行中转
    var COMMENTID = 0 ;
    function gotoReply(commentid){
        // 隐藏标签
        $('#reply').show();
        $('#submitBtn').hide();
        $('#show_nickname').hide();
        $('#show_sub_nickname').show();
        // 将参数显示出来，这里的用户体验不好，需要改进
        $('#nickname').val('请在此回复'+commentid+'的评论');
        $('#control').focus(); //文本获得焦点
        COMMENTID = commentid;
    }
    //和上面的函数进行关联，接受传递的参数
    function replyCommnt(articleid){
       var content = $.trim($('#control').val());
       if (content.length<5 || content.length>1000){
           window.alert('评论内容不符合要求')
           return false
       }
       var param = 'articleid='+articleid   //目前正常阅读的文章，由jinja2传递
        param += '&commentid='+ COMMENTID
        param += '&content=' + content

        $.post('/reply',param,function(date){
            if (date=='comtent-invalid'){
                window.alert('评论内容不符合要求')
            }
            else if (date=='replay-pass'){
                //评论成功就不提示了烦人,直接刷新
                location.reload()
            }
            else if (date=='replay-fail'){
                window.alert('评论异常请联系管理员')
            }
            else if (date=='replay-10-Limit'){
                window.alert('评论成功，已经超出每天10条限制，无法获取积分，但评论正常显示')
                location.reload()
            }
            else if (date=='replay-fail'){
                window.alert('评论区异常请联系管理员')
            }
            else if (date=='你还没有登录')   //这是蓝图拦截器定义的接口，后端限制未登录用户无法回复
                window.alert('你还没有登录，无法回复')
        })
    }
    // 评论点赞
    function agreeComment(obj,commentid){
        var param = 'commentid='+ commentid + '&category=1'
        $.post('/opinion',param,function (data){
            if (data=='opinion-pass'){
                var element =$(obj).children('span').eq(1)   //返回的是对象
                var count = parseInt(element.text())  //获取对象的值，转为int
                element.text(count+1)
            }
            else if (data =='system-opinion-fail'){
                window.alert('系统故障请联系管理员')
            }
        })
    }

    // 评论反对
    function opposeComment(obj, commentid){
        var param = 'commentid='+ commentid + '&category=0'
        $.post('/opinion',param,function (data){
            if (data=='opinion-pass'){
                var element =$(obj).children('span').eq(1)   //返回的是对象
                var count = parseInt(element.text())  //获取对象的值，转为int
                element.text(count+1)
            }
            else if (data =='system-opinion-fail'){
                window.alert('系统故障请联系管理员')
            }
        })
    }







    // 定义前端页面分页功能
    var PAGE = 1 ; //定义全局变量用于记录前面在那一页，默认在第一页
    var TOTAL = {{total}} ;  //总页数，由模板引擎填充
    //添加gotopage函数代码
    function gotopage(articleid,type){
        //如果是第一页，则上一页还是第一页
        if (type=='prev'){
            if (PAGE>1)
                PAGE -= 1
        }
         //如果是当前页是最后一页，则下一页还是最后一页
        else if (type=='next'){
            if(PAGE < TOTAL)
                PAGE += 1
        }
        else {
            PAGE = parseInt(type)
        }
        fillComment(articleid,PAGE)
    }
    function fillComment(articleid, pageid){
        $('#commentDIV').empty(); //清空现有评论
        var content = '';  //拼接评论区的html和jinja2的数据并且转换为js代码不熟悉建议多备
        $.get('/comment/' + articleid + '-' + pageid ,function (data){
            var comment = data

            for (var i in comment){
                content += '<div id="commentDiv">';
                content += '<div class="col-12 list row article-comment" >';
                content += '<div class="col-2 icon">';
                content += '<img src="/avatar/' + comment[i]['avatar'] + '" class="img-fluid" style="width: 70px;">';
                content += '</div>';
                content += '<div class="col-10 comment">';
                content += '<div class="col-12 row" style="padding: 0px">';
                content += '<div class="col-7 commenter">'+ comment[i]['nickname'] +'&nbsp;&nbsp;&nbsp;'+comment[i]['createtime']+'</div>';
                content += '<div class="col-5 reply">';
                 <!-- 文章作者、管理员和评论者只能回复和隐藏，不能点赞-->
                // 注意此处判断要改为支持js代码的方式，不是jinja2
                if ('{{article.userid}}'=="{{session.get('userid')}}" ||
                    "{{session.get('role')}}" == 'admin' ||
                    comment[i]['userid'] == "{{session.get('userid')}}"){
                    content += '<label onclick="gotoReply(' + comment[i]['commentid'] + ')">'
                    content += '<span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复'
                    content += '</label>&nbsp;&nbsp;&nbsp;'
                    content += '<label onclick="hideComment(this,' + comment[i]['commentid'] + ')">'
                    content += '<span class="oi oi-x" aria-hidden="true"></span> 隐藏 <span></span>'
                    content += '</label>&nbsp;&nbsp;&nbsp;'
                }
                else {
                    content += '<label onclick="gotoReply(' + comment[i]['commentid'] + ')">'
                    content += '<span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复'
                    content += '</label>&nbsp;&nbsp;&nbsp;'
                    content += '<label onclick="agreeComment(this, \'5\')">'
                    content += ''



                }
                content += ''







            }


        })


    }

</script>
{% endblock %}